version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      timezone: UTC
      time: "07:00"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      timezone: UTC
      time: "07:00"
    ignore:
      # These dependencies are explicitly pinned for usage in the plugin
      # transpilation process and should only be updated manually / intentionally.
      - dependency-name: "typescript"
      - dependency-name: "@typescript/vfs"
    open-pull-requests-limit: 50
    groups:
      test:
        patterns:
          - "jest"
          - "benchmark"
          - "@types/benchmark"
          - "long"
      bench:
        patterns:
          - "google-protobuf"
          - "brotli"
          - "esbuild"
      lint-and-format:
        patterns:
          - "@typescript-eslint/*"
          - "eslint-*"
          - "eslint"
          - "prettier"
          - "@bufbuild/license-header"
          - "@arethetypeswrong/*"
