node_modules
/packages/*/dist
/packages/typescript-compat/*/dist
/packages/protobuf-test/*.0x
/packages/protobuf-test/descriptorset.binpb
/packages/protoplugin-test/descriptorset.binpb
/.tmp
/packages/*/.tmp
