body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
h1 {
  margin: 15px 0;
  font-size: 3.5rem;
}
button {
  background-color: #161ede;
  color: #fff;
  padding: 11px 16px;
  border: none;
  font-weight: 400;
}
button:hover {
  cursor: pointer;
}
input {
  border: 1px solid #ebebeb;
  padding: 10px;
}
input:focus {
  border-color: #161ede;
  background-color: #f8f8ff;
}
input:focus-visible {
  outline: none;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 15px;
  margin: 0 auto;
  max-width: 1320px;
  background-color: #fff;
  min-height: 100vh;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.app-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}
.eliza-resp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.user-resp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.resp-text {
  font-size: 1rem;
  margin: 5px;
  background: #fff;
  border: 2px solid #ebebeb;
  padding: 16px 20px;
  border-radius: 28px;
  color: #09083a;
}
.eliza-resp-container .resp-text {
  color: #090a3a;
}
.user-resp-container .resp-text {
  color: #165fed;
  background-color: #e0edff;
  border: none;
}
.text-input {
  width: 200px;
  margin-right: 5px;
}
